---
import BlockRendererInner from "./BlockRenderer.astro";
import Navigation from "./Navigation.astro";
import NavigationLink from "./NavigationLink.astro";
import NavigationSubmenu from "./NavigationSubmenu.astro";
import { getBlockStyling } from "@wp-block-tools/styles";
import type { Block } from "@wp-block-tools/styles";
import { Image } from "astro:assets";
type Props = {
  blocks: Block[];
};
const { blocks } = Astro.props;
// console.log("Blocks", blocks);
---

{
  blocks.map((block) => {
    const { styles, classes } = getBlockStyling(block);
    switch (block.name) {
      case "core/navigation-submenu":
        return (
          <NavigationSubmenu
            classes={classes}
            styles={styles}
            label={block.attributes?.label || ""}
            url={block.attributes?.url || ""}
          >
            <BlockRendererInner blocks={block.innerBlocks || []} />
          </NavigationSubmenu>
        );
      case "core/navigation-link":
        return (
          <NavigationLink
            classes={classes}
            styles={styles}
            label={block.attributes?.label || ""}
            url={block.attributes?.url || ""}
          />
        );
      case "core/navigation":
        return (
          <Navigation styles={styles} classes={classes}>
            <BlockRendererInner blocks={block.innerBlocks || []} />
          </Navigation>
        );
      case "core/paragraph":
        return (
          <p
            class={classes}
            style={styles}
            set:html={block.attributes?.content}
          />
        );
      case "core/columns":
      case "core/column":
      case "core/post-content":
      case "core/group":
        return (
          <div class={classes} style={styles}>
            <BlockRendererInner blocks={block.innerBlocks || []} />
          </div>
        );
      case "core/site-logo":
        return (
          <div class={classes} style={styles}>
            <Image
              src={block.attributes?.url || ""}
              alt="Site Logo"
              width={block.attributes?.width || "50px"}
              height={block.attributes?.height || "50px"}
            />
          </div>
        );
      case "core/template-part":
        return <BlockRendererInner blocks={block.innerBlocks || []} />;
      default:
        return null;
    }
  })
}
